@import "colors.css";

.light-theme {
  background-color: var(--BackgroundBottomLight);
}

.light-theme header::before {
  background-image: url("../images/bg-desktop-light.jpg");
}

.light-theme .lightButton {
  background: url(../images/icon-moon.svg);
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.light-theme .todo-input {
  width: 100%;
  margin: 30px 0 0 0;
  display: flex;
  background: var(--HeaderTitle);
  height: 60px;
  padding: 20px;
  align-items: center;
  border-radius: 8px;
}

.light-theme .todo-input #add-task-input {
  color: var(--textColorLight);
}

.light-theme .todo-container .todo-tasks .task {
  background-color: var(--HeaderTitle);
  border-bottom: 1px solid var(--CheckBoxAndCompleted);
  color: var(--textColorLight);
}

.light-theme .checkbox {
  border: 1px solid var(--CheckBoxAndCompleted);
}

.light-theme .checkbox:hover {
  background: linear-gradient(var(--HeaderTitle), var(--HeaderTitle))
      padding-box,
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
      border-box;
  border: 2px solid transparent;
}

.light-theme .checkbox:checked:hover {
  background-image: var(--CheckBackground);
  border: none;
}

.light-theme .checked {
  text-decoration: line-through;
  text-decoration-color: var(--CheckBoxAndCompleted);
  color: var(--CheckBoxAndCompleted);
}

.light-theme .checked span {
  color: var(--CheckBoxAndCompleted);
}

.light-theme .status-container {
  background: var(--HeaderTitle);
}

.light-theme .items-left {
  color: var(--completedLight);
}

.light-theme .status-button {
  color: var(--InputStatusText);
}

.light-theme .status-button:hover {
  color: var(--BackgroundFieldsDark);
}

.light-theme .status-clear {
  color: var(--completedLight);
}

.light-theme .status-clear:hover {
  color: var(--BackgroundFieldsDark);
}

.light-theme .clicked {
  color: var(--StatusSelected);
}
